body {
  font-family: Verdana, sans-serif;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  background-color: #222;
  border-radius: 8px;
}

nav a:hover {
  background-color: #555;
}

.box {
  background-color: white;
  width: 50%;
  margin: 30px auto;
  padding: 25px;
  border-left: 6px solid #8360c3;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
}
